{% extends 'base.html.twig' %}

{% block title %}{{ entityName|capitalize }}{% endblock %}

{% block body %}


    <div class="col-lg-6 mx-auto">
        <div class="card shadow-lg bg-white rounded">
            <img class="card-img-top" src="{{ asset('uploads/' ~ (register.file ? register.file.filename  : "default.jpeg" )) }}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{ register.nome }}</h5>
                <p class="card-text">Selecione uma nova foto para alterar</p>

                <div class="card-footer">
                    {{ form_start(form) }}
                    {{ form_widget(form) }}
{#                    <button class="btn btn-primary">{{ button_label|default('Salvar') }}</button>#}
                    <a class="btn btn-success float-right" href="{{ path('perfil_aluno_profile', {id: register.id}) }}">Voltar</a>
                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            $('#aluno_file_file').change(function(){
                $('form').submit();
            });
        });
    </script>
{% endblock %}