{% extends 'base.html.twig' %}

{% block title %}Aluno{% endblock %}

{% block body %}
    <h1>Aluno</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ register.id }}</td>
            </tr>
            <tr>
                <th>Nome</th>
                <td>{{ register.nome }}</td>
            </tr>
            <tr>
                <th>Data_nascimento</th>
                <td>{{ register.dataNascimento ? register.dataNascimento|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('aluno_index') }}">back to list</a>

    <a href="{{ path('aluno_edit', {'id': register.id}) }}">edit</a>

    {{ include('aluno/_delete_form.html.twig') }}
{% endblock %}
