{% extends 'base.html.twig' %}

{% block title %}Tela Inicial{% endblock %}



{% block body %}
    <form class="form">
        <input class="form-control " type="text" placeholder="Digite o nome do aluno" onkeyup="searchAluno(this.value)">
    </form>
    <div class="row">
        {% for register in  registers %}
            <div class="col-lg-2 col-sm-4 my-3 alunoCard" id="registerCard{{ register.id }}"
                 data-nome="{{ register.nome|lower|replace({' ': ''}) }}"
                 onclick='location.href="{{ path('perfil_aluno_profile', {id: register.id} ) }}"'>
                <div class="card shadow-lg bg-white rounded border-dark">
                    <img class="card-img-top"
                         src="{{ asset('uploads/' ~ (register.file ? register.file.filename  : "default.jpeg" )) }}"
                         alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">{{ register.getPrimeiroNome() }}</h5>
                    </div>
                </div>
            </div>
        {% endfor %}

        <div class="col-lg-2 col-sm-4 my-3 alunoCard">
            <a href="{{ path('aluno_new') }}">
                <div class="card shadow-lg bg-white rounded border-dark" style="padding: 5px;">
                    <img class="card-img-top" src="{{ asset('assets/img/addAluno.png') }}" alt="Card image cap">
                    <div class="card-body" style="text-align: center;">
                        <h5>Criar Aluno</h5>
                    </div>
                </div>
            </a>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        move = function (idRegister) {
            element = $('#registerCard' + idRegister);
            if (element.hasClass('alunoCardMoved')) {
                element.css('transform', 'translate(0px, 0px)');
                element.removeClass('alunoCardMoved');
            } else {
                console.log(element.css('left'));
                element.css('transform', 'translate(-50px, 50px)');
                element.addClass('alunoCardMoved');
            }
        }

        searchAluno = function (valor) {
            valor = valor.toLowerCase().replace(' ', '');

            $('.alunoCard').css('display', 'none');
            if (valor == "") {
                $('.alunoCard').css('display', '');
            } else {
                $('.alunoCard[data-nome*=' + valor + ']').css('display', '');
            }

        }
    </script>
{% endblock %}