<div class="card-body">
    <h6 class="card-title">De: {{ register.educador.nome }}</h6>
    <p class="card-text"><small class="text-muted">{{ register.dataHora ? register.dataHora|date('d/m/Y H:i:s') : '' }}</small></p>
    <div class="card-text" id="register_{{ entityType }}_{{ register.id }}">{{ register.descricao|raw }}</div>
</div>

