<div class="timeline-badge info"><i class="fas fa-file"></i></div>
<div class="timeline-panel" style="margin-top: 50px">
    <div class="timeline-heading">
        <h6 class="timeline-title">
            De: {{ register.educador.nome }}
            <i class="cursor fas fa-2x fa-paste float-right" onclick="copyAcompanhamento({{ register.id}})"></i>
        </h6>
        <p>
            <small class="text-muted"><i class="fas fa-clock"></i>
                {{ register.dataHora|date('d/m/Y H:i:s') }}
            </small>
        </p>
    </div>
    <div class="timeline-body">
        <div  id="register_acompanhamento_{{ register.id }}">
            {{ register.descricao|raw }}
        </div>
    </div>
</div>

{% block javascripts %}
    <script type="text/javascript">
        copyAcompanhamento = function(id){
            console.log($('#register_acompanhamento_'+id).html());
            copyValue($('#register_acompanhamento_'+id).html());
        }
    </script>
{% endblock %}
