<head>
    <title>{{ title | upper }}</title>
</head>
<body>
<div>
    <h1 class="acompanhamento_titulo">{{ title | upper }} </h1>

    <table class="acompanhamento_table">
        <tbody>
            <tr>
                <th>Aluno:</th>
                <td>{{ register.aluno }}</td>
                <th>Data Nascimento:</th>
                <td>{{ register.aluno.dataNascimento ? register.aluno.dataNascimento|date('d/m/Y') : '' }}</td>
            </tr>
            <tr>
                <th>Educador:</th>
                <td>{{ register.usuario }}</td>
                <th>Data/Hora:</th>
                <td>{{ register.dataHora ? register.dataHora|date('d/m/Y H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Escola:</th>
                <td>{{ register.usuario.escola.nome }}</td>
                <th>Endereço:</th>
                <td>{{ register.usuario.escola.endereco }}</td>
            </tr>
        </tbody>
    </table>

    <div class="acompanhamento_div_acompanhamento">
        <span><strong>Parecer:</strong></span>
        <div class="acompanhamento_descricao">
            {{ register.descricao | raw }}
        </div>
    </div>
</div>
</body>