<head>
    <title>{{ title | upper}}</title>
</head>
<body>
<div>
    <h1 class="acompanhamento_titulo">{{ title | upper}} </h1>

    <table class="acompanhamento_table">
        <tbody>
        <tr>
            <th>Aluno:</th>
            <td>{{ register.aluno }}</td>
            <th>Educador:</th>
            <td>{{ register.educador }}</td>
        </tr>
        <tr>
            <th>Escola:</th>
            <td>{{ register.educador.escola.nome }}</td>
            <th>Endereço:</th>
            <td>{{ register.educador.escola.endereco }}</td>
        </tr>
        <tr>
            <th>Data/Hora Inicial:</th>
            <td>{{ register.dataHora ? register.dataHora|date('d/m/Y H:i:s') : '' }}</td>
            <th>Data/Hora Final:</th>
            <td>{{ register.dataHora ? register.dataHora|date('d/m/Y H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="acompanhamento_div_acompanhamento">
        <span><strong>Parecer:</strong></span>
        <div class="acompanhamento_descricao">
            {{ register.descricao | raw}}
        </div>
    </div>
</div>
</body>