{% extends 'base.html.twig' %}

{% block title %}Parecer{% endblock %}

{% block body %}
    <h1>Parecer</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ parecer.id }}</td>
            </tr>
            <tr>
                <th>Data_hora</th>
                <td>{{ parecer.dataHora ? parecer.dataHora|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Descricao</th>
                <td>{{ parecer.descricao }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('parecer_index') }}">back to list</a>

    <a href="{{ path('parecer_edit', {'id': parecer.id}) }}">edit</a>

    {{ include('parecer/_delete_form.html.twig') }}
{% endblock %}
