{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-primary">{{ button_label|default('Save') }}</button>
    <a class="btn btn-success" href="{{ path(entityName~'_index') }}">Voltar</a>
{{ form_end(form) }}
