<table class="table">
    <thead>
    <tr>
        {% for key, attr in registerListAttr|first %}
            <th>{{ key }}</th>
        {% endfor %}
        <th>actions</th>
    </tr>
    </thead>
    <tbody>
    {% for key, listAttr in registerListAttr %}
        <tr>
            {% for attr in listAttr %}
                <td>{{ attr }}</td>
            {% endfor %}
            <td>
                {% if(actionList.image == true) %}
                    <a class="btn btn-primary" href="{{ path(entityName~'_image_show', {'id': listAttr.Id}) }}">Foto</a>
                {% endif %}
                {% if(actionList.show == true) %}
                    <a class="btn btn-primary" href="{{ path(entityName~'_show', {'id': listAttr.Id}) }}">Exibir</a>
                {% endif %}
                {% if(actionList.edit == true) %}
                    <a class="btn btn-primary" href="{{ path(entityName~'_edit', {'id': listAttr.Id}) }}">Editar</a>
                {% endif %}
                {%  include template~'/_delete_form.html.twig' with {'register': {'id': listAttr.Id}} %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
