{% extends 'base.html.twig' %}

{% block title %}Formulario Agrupador{% endblock %}

{% block body %}
    <h1>Formulario Agrupador</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ register.id }}</td>
            </tr>
            <tr>
                <th>Titulo</th>
                <td>{{ register.titulo }}</td>
            </tr>
            <tr>
                <th>Ordem</th>
                <td>{{ register.ordem }}</td>
            </tr>
            <tr>
                <th>Subtitulo</th>
                <td>{{ register.subtitulo }}</td>
            </tr>
            <tr>
                <th>Coluna1</th>
                <td>{{ register.coluna1 }}</td>
            </tr>
            <tr>
                <th>Coluna2</th>
                <td>{{ register.coluna2 }}</td>
            </tr>
            <tr>
                <th>Coluna3</th>
                <td>{{ register.coluna3 }}</td>
            </tr>
        </tbody>
    </table>

    {{ include(template.showActions) }}

{% endblock %}
