{% extends 'base.html.twig' %}

{% block title %}FormularioCampo{% endblock %}

{% block body %}
    <h1>FormularioCampo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ register.id }}</td>
            </tr>
            <tr>
                <th>Tipo</th>
                <td>{{ register.tipo }}</td>
            </tr>
            <tr>
                <th>Label</th>
                <td>{{ register.label }}</td>
            </tr>
            <tr>
                <th>Formulário</th>
                <td>{{ register.formulario.nome }}</td>
            </tr>
        </tbody>
    </table>

    {{ include(template.showActions) }}

{% endblock %}
