{%  extends 'base.html.twig' %}

{% block title %}Escola index{% endblock %}

{% block body %}
    <h1>Escolas</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Nome</th>
            <th>Endereco</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>
        {% for escola in escolas %}
            <tr>
                <td>{{ escola.getNome() }}</td>
                <td>{{ escola.getEndereco() }}</td>
                <td>
                    <a href="{{ path('escola_show', {'id': escola.getId()}) }}">Show</a>
                    <a href="{{ path('escola_edit', {'id': escola.getId()}) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('escola_new') }}">Criar novo</a>
{%  endblock %}