<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>{% block title %}Sala de Integração de Recursos!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/global.css') }}">
        <link rel="stylesheet" href="{{ asset('assets/css/timeline.css') }}">
    {% endblock %}
</head>
<body>

{% block menu %}
    <nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">SIR <span class="sr-only">(current)</span></a>


        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                {% if is_granted('ROLE_USER') %}
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('escola_index') }}"><i class="fas fa-school"></i> Escola</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="{{ path('aluno_index') }}"><i class="fas fa-child"></i> Aluno</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('educador_index') }}"><i class="fas fa-chalkboard-teacher"></i> Educador</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('comentario_index') }}"><i class="fas fa-comments"></i> Comentario</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="http://example.com" id="dropdown01" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
                        <div class="dropdown-menu" aria-labelledby="dropdown01">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('logout') }}"><i class="fas fa-sign-out-alt"></i> Sair</a>
                    </li>
                {% endif %}
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <img src="{{ asset('assets/img/aluno.png') }}" class="imgAluno" />
                <input class="form-control mr-sm-2" type="text" placeholder="Pesquisar Aluno">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Iniciar</button>
            </form>

        </div>
    </nav>
{%  endblock %}

{% block body_container %}
    <div class="container">
        {% block body %}
            <div class="home-template">
                <h1>SIR - Sala de Integração de Recursos</h1>
                <p class="lead">Sistema para gerenciamento e acompanhamento de atividades das salas de integração de recursos.</p>
            </div>
        {% endblock %}
    </div><!-- /.container -->
{% endblock %}
{% block javascripts %}
    <script src="{{ asset('assets/js/jquery.js') }}"></script>
    <script src="{{ asset('assets/js/tether.js') }}"></script>
    <script src="{{ asset('assets/js/popper.min.js') }}"></script>
    <script src="{{ asset('assets/js/bootstrap.js') }}"></script>
{% endblock %}

</body>
</html>
