{% extends 'base.html.twig' %}

{% block title %}Aluno{% endblock %}

{% block body %}
    {% include 'generic/_body_title.html.twig' with {title: 'Perfil Aluno(a) - '~register.nome} %}

<div class="row">
    <div class="col-sm-2">
        <div class="card" >
            <a href="{{ path('aluno_image',{id:register.id}) }}">
                <img class="card-img-top" src="{{ asset('uploads/' ~ (register.file ? register.file.filename  : "default.jpeg" )) }}" alt="Card image cap">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" >
            <div class="card-header">
                Informações:
            </div>
            <div class="card-body">
                <div>Nome: {{ register.nome }}</div>
                <div>Data Nascimento: {{ register.dataNascimento ? register.dataNascimento|date('d/m/Y') : '-' }}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <div class="card-header">
                <i class="fas fa-"></i> Adicionar:
            </div>
            <div class="card-body">
                <a href="#" class="card-link"></a>
                <a href="{{ path('comentario_new') }}" class="card-link"><i class="fas fa-camera-retro"></i> Fotos/Vídeos</a>
                <a href="{{ path('acompanhamento_new') }}" class="card-link"><i class="fas fa-file"></i> Acompanhamento</a>
                <a href="{{ path('parecer_new') }}" class="card-link"><i class="fas fa-file-powerpoint"></i> Parecer</a>
                {% for formulario in form_repository.findAllByEscola(register.escola) %}
                    <a href="{{ path('formulario_dinamico_new', {form_id: formulario.getId() }) }}" class="card-link"><i class="fas fa-file-signature"></i> {{ formulario.nome }}</a>
                {%  endfor %}
                <a href="{{ path('home') }}" class="card-link"><i class="fas fa-arrow-left"></i> Voltar</a>


            </div>
        </div>
    </div>
</div>

<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a id='all' class="nav-link" href="{{ path('perfil_aluno_profile', {id: register.id} ) }}">Tudo</a>
            </li>
            <li class="nav-item">
                <a id='midia' class="nav-link" href="{{ path('perfil_aluno_profile', {id: register.id, timeline_element:'midia'} ) }}">Fotos/Vídeos</a>
            </li>
            <li class="nav-item">
                <a id='acompanhamento' class="nav-link" href="{{ path('perfil_aluno_profile', {id: register.id, timeline_element:'acompanhamento'} ) }}">Acompanhamentos</a>
            </li>
            <li class="nav-item">
                <a id='parecer' class="nav-link" href="{{ path('perfil_aluno_profile', {id: register.id, timeline_element:'parecer'} ) }}">Pareceres</a>
            </li>
        </ul>
    </div>
    <div class="card-body" style="text-align: left;">
        {% for timelineElement in timelineElements %}
            {% include 'perfil_aluno/_card.html.twig' with {timelineElement: timelineElement} only %}
        {% endfor %}
    </div>
</div>

{% endblock %}


{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            menuSelected = "{{ app.request.get('timeline_element')|default('all') }}";
            $('#'+menuSelected).addClass('active');
        });
    </script>
{% endblock %}