{% extends 'base.html.twig' %}

{% block title %}Aluno{% endblock %}

{% block body %}
    {% include 'generic/_body_title.html.twig' with {title: 'Perfil Aluno(a) - '~register.nome} %}

<div class="row">
    <div class="col-sm-2">
        <div class="card" >
            <a href="{{ path('aluno_image',{id:register.id}) }}">
                <img class="card-img-top" src="{{ asset('uploads/' ~ (register.file ? register.file.filename  : "default.jpeg" )) }}" alt="Card image cap">
            </a>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Informações</h5>

                <div>Nome: {{ register.nome }}</div>
                <div>Data Nascimento: {{ register.dataNascimento ? register.dataNascimento|date('Y-m-d H:i:s') : '-' }}</div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card" >
            <div class="card-body">
                <h5 class="card-title">Adicionar</h5>
                <a href="#" class="card-link"></a>
                <a href="{{ path('comentario_new') }}" class="card-link"><i class="fas fa-camera-retro"></i> Fotos/Vídeos</a>
                <a href="{{ path('acompanhamento_new') }}" class="card-link"><i class="fas fa-file"></i> Acompanhamento</a>
                <a href="#" class="card-link"><i class="fas fa-file-powerpoint"></i> Parecer</a>
                {% for formulario in form_repository.findAll() %}
                    <a href="#" class="card-link"><i class="fas fa-file-signature"></i> {{ formulario.nome }}</a>
                {%  endfor %}
                <a href="{{ path('home') }}" class="card-link"><i class="fas fa-arrow-left"></i> Voltar</a>


            </div>
        </div>
    </div>
</div>

    <div class="card text-center">
        <div class="card-header">
            <ul class="nav nav-pills card-header-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Tudo</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Fotos/Vídeos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Acompanhamentos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pareceres</a>
                </li>
            </ul>
        </div>
        <div class="card-body" style="text-align: left;">
            {% for comentario in register.comentarios %}
                <div class="card mb-3">
                    <div class="card-header">
                        <i class="fas fa-camera-retro"></i> Foto/Vídeos
                    </div>
                    <div class="card-body">
                        <h6 class="card-title">De: {{ comentario.educador.nome }}</h6>
                        <p class="card-text"><small class="text-muted">{{ comentario.dataHora ? comentario.dataHora|date('d/m/Y H:i:s') : '' }}</small></p>
                        <p class="card-text">{{ comentario.descricao }}</p>

                    </div>
                    {% if comentario.file is defined %}
                        <div class="col-lg-7 mx-auto">
                            {% if(comentario.file.extension =="mp4") %}
                                <video width="100%" controls>
                                    <source src="{{ asset('uploads/' ~ comentario.file.filename  ) }}" type="video/mp4">
                                    Your browser does not support the video tag.
                                </video>
                            {% else %}
                                <img  class="card-img-bottom" src="{{ asset('uploads/' ~ comentario.file.filename  ) }}" alt="Arquivo do comentário">
                            {% endif %}
                        </div>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>


{% endblock %}
