<label for="{{ id }}">{{ label }}</label>

{% if valor is defined %}
    <input type="date" class="form-control" id="{{ campo.id }}" name="{{ campo.id }}" value="{{ valor }}"/>
{% else %}
    <input type="date" class="form-control" id="{{ campo.id }}" name="{{ campo.id }}" />
{% endif %}