{% for campoRegistro in formularioRegistro.formularioRegistroCampos %}
    {% if campoRegistro.formularioCampo.id == campo.id %}

        {# Labels #}
        {% if campo.tipo == 'LabelType' %}
            <div for="{{ campo.id }}" style="font-weight: bold;" >{{ campo.label }}:</div>
        {% else %}
            <div for="{{ campo.id }}">{{ campo.label }}:</div>
        {% endif %}

        {# Values #}
        {# Workaround: Campos de entidade não chegam tipados a este ponto #}
        {% if campo.tipo == 'DateType' or 'DATA ' in (campo.label | upper) or ' DATA' in (campo.label | upper)%}
            <div style="font-style: italic;">{{ campoRegistro.valor ? campoRegistro.valor | date('d/m/Y') : '' }}</div>
        {% else %}
            <div style="font-style: italic;">{{ campoRegistro.valor |  nl2br   }}</div>
        {% endif %}

    {% endif %}
{% endfor %}
