{% extends 'base.html.twig' %}

{% block title %}New Comentario{% endblock %}

{% block body %}
    <h3>Criar Comentário</h3>

    {{ include('comentario/_form.html.twig') }}

    {% block timeline %}
        {{ render(controller(
            'App\\Controller\\TimelineController::index'
        )) }}
    {% endblock %}

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/ckeditor/ckeditor.js') }}" type="text/javascript"></script>
    <script src="{{ asset('assets/js/ckeditor/adapters/jquery.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        $(function() {
            $('textarea.ckeditor').ckeditor();
        });
    </script>
{% endblock %}

