{% extends 'base.html.twig' %}

{% block title %}Comentario{% endblock %}

{% block body %}
    {% include 'generic/_body_title.html.twig' with {title: entityName|capitalize} %}

    <table class="table">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ register.id }}</td>
        </tr>
        <tr>
            <th>Data hora</th>
            <td>{{ register.dataHora ? register.dataHora|date('d/m/Y H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Descrição</th>
            <td>{{ register.descricao | raw }}</td>
        </tr>
        {% if(register.file != null) %}
            <tr>
                <td colspan="2">
                    <div class="col-lg-7 mx-auto">
                    {% if(register.file.extension =="mp4") %}
                        <video width="100%" controls>
                            <source src="{{ asset('uploads/' ~ register.file.filename  ) }}" type="video/mp4">
                            Your browser does not support the video tag.
                        </video>
                    {% else %}
                        <img src="{{ asset('uploads/' ~ register.file.filename  ) }}" class="img-comenatios" alt="Arquivo do comentário">
                    {% endif %}
                    </div>
                </td>
            </tr>
        {% endif %}
        </tbody>
    </table>

    {{ include(template.showActions) }}

{% endblock %}
