<label for="{{ id }}">{{ label }}</label>

<select class="form-control" id="{{ campo.id }}" name="{{ campo.id }}"  >
{% for register in form_helper.getAlunoValues() %}
    <option value="{{ register.getId() }}">{{  register.getNome() }}</option>
{% endfor %}
</select>

{% if valor is defined %}
    <script>
        document.getElementById({{ campo.id }}).value = {{ valor }};
    </script>
{% endif %}
